@import url(reset.css);
@import url(fonts.css);
.wrapper {
	width: 1300px;
	margin: 0 auto; 
		z-index: 1;
	position: relative;
	height: 3900px;
	border: 1px solid black;
}
.generalinfo {
	width: auto;
	height: 200px;
	background: url(../img/nav.jpg);
}
.minwrap {
	display: flex;
	justify-content: space-between;
	width: 1220px;
	margin: 0 auto;
}
.curlang {
	width: 140px;
	border-radius: 30px;
	border: 2px solid #006666;
	font-size: 20px;
}
.curlang ul ul{
	display: none;
	position: absolute;
}
.curlang ul{
	position: relative;
	margin: 0;
	padding: 0;
}
.curlang ul li{
	display: inline-block;

}
.curlang li:hover ul{
	display: block;
}
.curlang li:hover li{
	display: block;
}
.firstli{
	padding-left: 18px;
		
}
.undermain li{
	transition: display 2s;
}
.undermain li{
	padding-left: 10px;
	font-size: 15px;
	cursor: pointer;
}
.secondli {
	margin-left: 20px;
}
.search {background: ;}
.search:after {content:""; clear:both; display:table}
.search form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.search input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.search input:focus {
  width: 300px;
}
.search button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.search button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.search {
	padding-top:5px;
	padding-bottom:5px;
	margin-right: 150px;
}
.menu {
	background: url(../img/nav.jpg);
}
.click {
	margin-left: 47%;
	z-index: 0;
}
.sl {
	position: relative;
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}[hidden],template{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/*Copyright www.Master-CSS.com*/ .my-logo{position:fixed;bottom:0;left:0;margin:0;padding:0;}.my-logo__pic{border:0;vertical-align:middle;width:50px;height:50px;}

.menucol {
	width: 1250px;
	margin: 0 auto;
}
.menu {
	height: 100px;
	background: blue;
}
.menucol img{
	margin-top: 30px;
	position: absolute;
	
}
.navmenu {
	display: flex;
	justify-content: space-between;
	width: 30%;
	margin-left: 60%;
	padding-top: 5%;
	position: ;
	font-family: Nirmala, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 20px;
}
.navmenu a{
		color: #1d5365;
}
.navmenu a:hover {
	font-size: 22px;
	background: #1d5365;
	color: #99CCCC;
	transition: all 1s;
	border-radius: 10px;
}
.menuwrap {
	border-top: 1px solid #99CCCC; 
}
/*========================================================================================*/
.sidebar {
	border-top: 1px solid red;
	float: left; 
    border: 1px solid #333;
    width: 18%;
	height: 500px;	
    padding: 5px; 
    margin: 10px 10px 20px 5px; 
}
.spider {
	border-top: 1px solid green;
	    margin: 10px 5px 20px 25%; 
    padding: 5px; 
	height: 700px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.right-column {
	
}
.mini-slid {
	width: 100%;
	HEIGHT: 200px;
}
.products {
	text-align: center;
	width: 250px;
	height: 310px;
	background: ;
	border-radius: 10px;
			box-shadow:0 0 2px #000;
}
.products h3{
	padding-top: 20px;
	color: #003333;
	font-size: 20px;
	font-family: ;
}.products:hover {
	background: #CCFFFF;
	cursor: pointer;
	transition: background 1s, box-shadow 1s;
	box-shadow: 0 0 10px #000;
}
.buttonsb {
	height: 20px;
	display: flex;
	justify-content: center;
}
.button {
	padding: px;
	width: 90px;
	border-radius: 12px;
		background: #669999;
}
#button2 {
	margin-left: 10px;
}
.button:hover {
	background: #003333;
	transition: 1s;
}
.button:hover h5{
		color: #669999;
	transition: 1s;		
}
.button h5 {
	padding-top: px;
	color: #003333;
	font-size: 16px;
	font-weight: 600;
}
.aboutb {
	margin-top: 16px;
	width: 100%;
	font-family: Noto Sans,  sans-serifs;
	font-weight: 500;
}
.aboutb p{
	font-size: 15px;
}
.pr {
	padding-bottom: 10px;
	padding-top: 10px;
		color: #003333;
	font-size: 20px;
	font-weight: bold;
}
.filtr li{
	width: 100%;
	height: px;
	border: 1px solid #9999FF;
	text-align: center;
	padding-top: ;
	display: inline-block;
	padding: 10px 0 10px 0;
	color: #003333;
	font-family: ;
	font-size: 19px;
	font-weight: 600;
	background: #CCCCFF;
}
.filtr li:last-child {
	border-radius: 0 0 10px 10px;
}
.filtr li:first-child {
	border-radius: 10px 10px 0 0;
}
.sidebar h1{
	font-size: 18px;
}
.pd {
	width: 100%;
}
.pricedefine {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.pd {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: blue; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.pd:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.pd::-webkit-pd-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; 
}

.pd::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #4CAF50;
    cursor: pointer; 
}