@import url(reset.css);
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto', sans-serif;
}

/* top-head styles */

.top-head {
	width: 100%;
	max-width: 1100px;
	padding: 5px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: #ecf6e9;
}
.top-head i{
	color: green;
}
.phone-head, .mail-head {
	display: inline-block;
}
.phone-head {
	margin-left: 10%; 
}
.mail-head {
	margin-right: 10%;
}
.top-head a, p{
	color: #333333;
}


/* main-head styles */

.main-head {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	height: 100px;
	border-bottom: 1px solid green;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}
.logo-head {
	font-size: 34px; 
	position: relative;
	display: inline-block;
	top: 30px;
	left: 50px;
}
.logo-head .color{
	color: green;
	text-transform: uppercase;
	font-size: 40px;
}
.logo-head .low {
	font-size: 20px;
}
/*	.logo-head:before, .logo-head:after {
		content: '';
		background: green;
		position: absolute;
		width: 100px;
		height: 2px;
		left: 10%;
	} */
.central-block {
	width: 35%;
	margin-right: 50px; 
}
.animation-head {
	padding: 0 30px 10px 0;
	width: 60px;
	height: 60px;
	margin: 0 auto; 
}
.animation-head img {
    width: 60px;
    height: 60px;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.menu-head {
/*	border: 1px solid black;*/
}
.menuli-head {
	display: flex;
	justify-self: space-between;
}
.menuli-head li{
	font-size: 18px;
	width: 100%;
	height: 20px;
	padding: 10px 20px 0 20px;
}
.menuli-head a {
	color: green;
	position: relative;
	padding: 5px;
}
.menuli-head a:hover {
	color: black;
}
.menuli-head li a:before {
	content: '';
	position: absolute;
	top: 80%;
	left: 0;
	width: 0;
	height: 20%;
	background: #78ff00;
	border-radius: 0 20% 20% 0;
	z-index: -1;
	transition: 0.5s ease-in-out;
}
.menuli-head li a:hover:before,
.menuli-head li a.active:before {
	width: 100%;
}
.basket-block {
/*	border: 1px solid black;*/
	margin: 10px 50px 0 0;
}
.basket-block img{
	height: 40px;
	width: 40px;
}
.counter-ba {
	padding: 3px 0 3px 17px;
	background: #ecf6e9;
	color: black;
	font-size: 13px;
}
.price-ba span{
	font-size: 11px;
}
@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

/*intro-block*/

.intro {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	height: 70px;
	display: flex;
	justify-self: space-around;
	background: #CCFF99;
	border-right: 1px solid green;
}
.intro h1{
	display: inline-block;
	font-size: 23px;
	font-weight: 400;
	margin: 20px 0 0 30px;
}
.intro .article-block:nth-child(1) {
	width: 27%;
	border-right: 1px solid green;	
}
.intro .article-block:nth-child(2) {
	width: 70%;
}

 /*content-part */

.content {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
/*filtr*/

.filtr {
	width: 25%;
/*	border: 1px solid black;*/
	height: auto;
}
.sticky {
  position: fixed;
  top: 0px;  
  z-index: 101;
}
.filtr-list{
/*	border: 1px solid red;*/
}
.filtr-list li {
	max-width: 64%;
	padding: 13px 0 13px 100px;
	cursor: pointer;
	background-color: #ecf6e9;
	margin: 10px 0;
	border-radius: 10px;
}
.filtr-list li:nth-child(2) {
	border-radius: 0 50px 50px 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background: #CCFF99;
}
.filtr-list a {
	color: black;
	font-size: 18px;
}
.filtr-list li:hover {
	border-radius: 0 50px 50px 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background: #CCFF99;
}

/* catalog */

.catalog {
	width: 72.9%;
/*	border-left: 1px solid green;
	border-right: 1px solid green;*/
	height: auto;
}
.item {
	width: 100%;
	height: 200px;
	border-bottom: 1px solid green;
}
.wrapper-item {
	width: 97%;
	height: 180px;
	margin: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
.img-item {
	width: 170px;
	height: 170px;
	overflow: hidden;
	display: inline-block;
}
.img-item img{
	max-width: 170px;
	max-height: 170px;
	width: 100%;
}
.clear {
	display: block;
	clear: both;
}
.info-item h1 {
	font-size: 19px;
	text-transform: uppercase;
	color: #003300;
	margin: 20px 0;
}
.info-item p{
	font-size: 14px;
}
.info-item-count {
	align-items: center;
	display: flex;
	margin: 30px 0;
}
.info-item {
	margin-left: 7%; 
}
.info-item-count input{
	width: 25%;
	height: 35px;
	border: 1px solid green;
	background: #CCFF99;
	text-align: center;
	font-weight: 600;
}
.counter-btn {
	width: 30px;
	height: 30px;	
	background: #CCFF99;
	border: 1px solid green;
	cursor: pointer;
}
.counter-btn p {
	position: absolute;
	font-size: 33px;
	margin-left: 6px;
}
.price-item {
	margin-left: 15%;
}
.price-item h1{
	font-size: 35px;
	color: #003300;
	margin: 10px 0;
}
#width-h {
	width: 142px;
}
.price-item span {
	font-size: 15px;
	color: grey;
}
.price-item h2{
	font-size: 25px;
	color: #333333;
	margin: 20px 0;
}
.addtocart-item {
	cursor: pointer;
	border: 1px solid green;
	background: #78ff00;
	padding: 10px 20px;
	transition: 0.4s ease-in-out;
}
.addtocart-item h1 {
	font-size: 17px;
	color: white;
	margin: 0;
}
.addtocart-item:hover {
	background: white;
}
.addtocart-item:hover h1{
	color: #78ff00;	
}
.pagination {
    display: inline-block;
    margin: 20px 25%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.activeP {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
	@media screen and (max-width:950px) {
			.info-item {
		/*	margin-left: 14%; */
		}
	}
	footer {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;
		height: 200px;
		border-radius: 0 0 20px 20px;
		background: #CCFF99;
	}
	.wrapper-foot {
		width: 400px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.left-part {
		margin: 50px 0;
		width: 30%;
	}
	.right-part {
		width: 30%;	
		margin-top: 13%;	
	}
	.left-part ul li{
		margin: 10px 0;
	}
	.left-part ul li a{
		font-size: 20px;
		color: #003300;
	}
	#bottom-logo {
		margin-top: 10%;
	}
/*footer-edition*/

.bot, .bot-mail, .bot-ph, .bot-admin {
	padding: 10px 0;
	color: #003300;
}

	@media screen and (max-width:1027px) {
	.main-head {
		height: 120px;
	}
	.menu-head {
			margin-bottom: 50px;
		}
}
	@media screen and (max-width:867px) {
	.price-item, .info-item {
	    margin-left: 0%;
	}
}
