	body {
	font-family: 'arial';
		}
				* {
			margin: 0;
			padding: 0;
		}
		section {
			border: 1px solid black;
			width: 675px;
			margin: 0 auto;
		}
		.board {
			margin: 0 auto;
			display: grid;
			grid-template-columns: repeat(8, 75px);
			padding: 40px;
		}
		.square {
			border: 1px solid black;
			width: ;
			height: 75px;
			position: relative;
			padding: 0;
		}
		.f:nth-child(even) {
			background: black;
			color: black;
		}
		.s:nth-child(odd) {
			background: black;
			color: white;
		}
		.number {
			position: absolute;
			top: 45%;
			right: 90%;
		}
		.letters {
			position: absolute;
			top: 82%;
			left: 47%;
			text-transform: uppercase;
		}