	body {
	font-family: 'arial';
		}
				* {
			margin: 0;
			padding: 0;
		}
		.one {
			padding-top: 75px;
			padding-right: 75px;
			border: 4px solid brown;
			margin: 0 auto;
			width: 690px;
		}
		section .two{
			width: 683px;
			margin: 0 auto;
		}
		.board {
			margin: 0 auto;
			display: grid;
			grid-template-columns: repeat(8, 75px);
			float: right;
			

		}
		.square {
			border: 1px solid brown;
			width: ;
			height: 75px;
		}
		.f:nth-child(even) {
			background: black;
			color: black;
		}
		.s:nth-child(odd) {
			background: black;
			color: white;
		}
		.column {
			float: left;
		}
		td {
			width: 75px;
			height: 75px;
			text-align: center;
			font-weight: 600;
			border: none;
		}
		table {
			border: none;
		}
		.clear {
			clear: both;
		}