@import url(reset.css);
* {
	margin: 0;
	padding: 0;
}
body {
		font-family: 'nanumgothicbold', sans-serif;
	font-family: '', sans-serif;
	background: url(../img/bgBody.jpg) no-repeat;
}
.eng {
			font-family: 'nanumgothicbold', sans-serif;
}
nav {
	max-width: 900px;
	margin: 0 auto;
	position: block;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	 box-shadow: 0 20px 20px 0 rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);

	background: url(../img/Twrap2.jpg);
}



.head {
	margin: 0 auto;
	max-width: 1000px;
	height: 100px;
}
	.header-logo {
		width: 100%;
		height: 100px;
	}
	.img-logo {
		height: 100px;
		width: 900px;
		background: url(../img/logonew.jpg) no-repeat;
		margin: 0 auto;
	}



.menu-search {
	display: flex;	
	justify-content: space-between;
/* 	border-bottom: 2px solid grey;
border-top: 2px solid grey; */
  box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -16px 0 20px -16px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
}
#checkbox-menu,
.toggle {
	display: none;
}
.menu {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.menu li {
	padding: 31px 0 30px 0;
}
.menu-column {
	width: 25%;
	margin: 0 auto;
}
.menu-link {
	font-size: 16px;
	color: black;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}
.a-hov {
	position: relative;
	transition: 0.5s;
	align-items: center;
	padding: 7px 12px;
}
.a-hov:hover {
	color: #fff;
}
.a-hov:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: url(../img/btn-bg1.png);
	-webkit-background-size: cover;
	background-size: cover;
	transform-origin: left;
	transition: 0.5s;
}
.a-hov:hover:before{
	width: 100%;
}
.a-hov span {
	position: relative;
	z-index: 1;
}
/* search line code */
.search {background: ;}
.search:after {content:""; clear:both; display:table}
.search form {
  width: auto;
  float: right;
}
.search input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid black;
  background: #CCCCCC;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.search input:focus {
	background: #CCFFFF;
}
.search button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.search button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
form {
  position: relative;
  margin: 0 auto;
}
.search {
	padding-top:5px;
	padding-bottom:5px;
	margin-left: 0%;
	margin-top: 15px;
}

/*slider content */

.container {
			position: relative;
			padding: 0 ;
			min-height: 70vh;
			width: 1000px;
			margin: 0 auto;
		}
		.container:before {
			content: '';
			position: absolute;
			top: 10%;
			right: 5%;
			width: 250px;
			height: 90%;
			background: #333;
			z-index: -2;
		}
		.container:after {
			content: 'Go_Snus';
			position: absolute;
			bottom: 0;
			left: 0;
			font-size: 20vh;
			z-index: -2;
			font-weight: 700;
			padding-left: 10%;
			color: black;
			opacity: 0.1;
	}
		.content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: px;
		}
		.content .bannerText {
			position: relative;
			max-width: 400px;
			margin-left: 50px;
		}
		.content .bannerText div {
			display: none;
		}
		.content .bannerText div.active {
			display: initial;
		}
		.content .bannerText h2 {
			font-size: 29px;
			font-weight: 600;
		}
		.content .bannerText p{
			font-size: 17px;
			color: #333;
			line-height: 1.5em;
			margin: 20px 0;
		}
		.content .bannerText a{
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
			text-decoration: none;
			padding: 15px;
			color: black;
		}
		.content .bannerText a:before {
			content: '';
			position: absolute;
			top: 0;
			left:0;
			width: 60px;
			height: 100%;
			background: #e8bcbf;
			z-index: -1;
			transition: 0.5s ease-in-out;
		}
		.content .bannerText a:hover:before {
						width: 100%;
		}
		.content .bannerImg {
			position: relative;
			width: 350px;
			height: 350px;
		}
		.content .bannerImg img {
			position: absolute;
			top:10%;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.5s;
			opacity: 0;
		}
		.content .bannerImg img.active{
			opacity: 1;
		}
		.icons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 50px 0;
		}
		.icons .sci,
		.icons .controlers{
			position: absolute;
			display: flex;
		}
		.icons .controlers {
			right: 12%;
			top: 80%;
		}
.icons .controlers li {
list-style: none;
margin-left: 20px;
cursor: pointer;
filter: invert(1);
	transition: 0.5s ease-in-out;
}
.icons .controlers li:hover {
	opacity: 0.5;
}
.tradeBlock {
	margin: 100px 50px 0 50px;
	width: 100%;
}
.tradeNet {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.trade-block {
	position: relative;
	height: 250px;
	transition: all 0.5s;
}
.trade-block img {
	width: 200px;
	height: 200px;
	margin-left: 20%;
}
.hover-block {
	position: absolute;
	display: none;
	top: 0;
	left: 20%;
	background:rgba(127,127,127,0.9);
	width: 200px;
	height: 200px;
	border-radius: 100px;
}
.hover-block h2{
	font-size: 20px;
	font-weight: 600;
	color: white;
	padding: 20% 0 0 0%;
	text-align: center;
}
.trade-block:hover .hover-block{
	display: block;
	cursor: pointer;
}
.trade-ico {
	display: flex;
	margin: 10px 4px 0 0;
}
.trade-ico img {
	width: 40px;
	height: 40px;
	transition: all 0.5s;
	padding: 3px;
	border-radius: 30px;
}
.trade-ico a:nth-child(1){
	padding-left: 43px;
}
.trade-ico img:hover {
	background-color: #fff;;

}

.down i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
      transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.description {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin: 20px 0 20px 0;
}
.border {
	width: 40%;
	border-bottom: 2px solid grey;
	height: 20px;
}
.border-main {
	width: 20%;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 600;
	height: 50px;
	padding-top: 10px;
}
.media-block {
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.media-img-block img {
	transition: 1s all;
}
.media-img-block img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.faith-block {
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: space-between;
}
.faith-block-one {
	width: 23%;
	margin: 0 auto;
	position: relative;
}
.faith-block-des {
	text-align: center;
	padding: 20px;
}
.faith-block-des h1{
	margin: 10px 0 10px 0;
	font-weight: 600;
}
.faith-block-des p{
	font-size: 14px;
	color: grey;
	line-height: 1.4;
}
.faith-block-one:before {
	content: '';
	position: absolute;
	top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	border-top: 3px solid grey; 
	border-bottom: 3px solid grey; 
	transition: 0.4s;
	transform: scaleX(0);
	border-radius: 10px;
}
.faith-block-one:hover:before,
.faith-block-one:hover:after {
	transform: scale(1);
}
.faith-block-one:after {
	content: '';
	position: absolute;
	top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	transition: 0.4s;
	transform: scaleY(0);
	border-left: 3px solid grey; 
	border-right: 3px solid grey; 
	border-radius: 10px;
}
.figure:hover h2,
.figure:hover p {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
footer {
	height: 300px;
	background: #333;
	border-radius: 10px;
}
.top-part-foot{
	margin: 0 auto;
	text-align: center;
	width: 50%;
	padding-top: 40px; 
}
.menu-footer {

}
.menu-footer ul {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.menu-footer ul li a{
	color: white;
	font-size: 18px;

}
.icon-footer {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: 30px auto;
}
.bottom-part-foot {
	height: 80px;
	text-align: center;
	border: 1px solid white;
	margin-top: 30px;
}
.bottom-part-foot p {
	margin-top: 30px;
}
.call-block {
	background: url(../img/bg.jpg);
	height: 430px;
	width: 900px;
	border-radius: 20px;
	margin: 0 auto;
}
.wrapper#blur.active {
	filter: blur(20px);
	pointer-events: none;
	user-select: none;

}
#popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 800px;
	height: 60vh;
	padding: 30px;
	box-shadow: 0 5px 30px rgba(0,0,0,.30;);
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	color: black;
	border: 1px solid grey;
}
#popup.active {
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}
.wrapper-info {
	margin: 10px;
	border: 1px solid black;
	height: 100%;
	display: flex;
}
.img-info{
	width: 40%;
	height: 100%;
}
.img-slider {
	position: relative;
}
.img-slider img{
	object-fit: cover;
	transition: 0.5s;
	opacity: 0;
	position: absolute;
}
.right-info{
	width: 60%;
	height: 100%;
}
.img-slider img.activeInfo{
	opacity: 1;
}
.incon-info {
	margin: 250px 0 0 70px;
}
.right-info h1{
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	margin-top: 70px;
}
.des-info {
	line-height: 1.7em;
	width: 90%;
	margin: 30px 0 0 30px;
	border-top: 1px solid grey;
}
header.hidsel, nav.hidsel, .container.hidsel {
	display: none;
}
.button-info {
	margin: 30px 0 0 20%;
}
.button-info button {
	font-size: 20px;
	background: #333;
	border-radius: 10px;
	transition: all 0.5s;
	width: 120px;
	font-weight: 600;
	cursor: pointer;
	color: white;
	height: 35px;
}
.button-info button:hover {
	border: 1px solid blue;
	color: #333;
	background: white;
	border: 2px solid #333;
}
.filter-product {
	border: 1px solid black;
	width: 200px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;
}
.basket-product {
	margin: 0 auto;
	width: 50px;
}
.basket-product img {
	width: 50px;
	height: 50px;
}
.num {
	text-align: center;
	position: relative;
	left: 60%;
	top: -55%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: red;
	color: white;
	font-size: 12px;
}
.num p{
position: absolute;
bottom: -9px;
left: 6px;
}
/*-------------------------------------*/
.sim-slider img {
  width: 250px; !important;
  height: 250px; !important;
}

.sim-slider {
  margin: 20px auto;
  padding: 0 35px;
  width: 250px;
}


.sim-slider {
  position: relative;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}


.sim-slider-arrow-left,
.sim-slider-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

.sim-slider-arrow-left {
  left: 0px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}

.sim-slider-arrow-right {
  right: 0px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}

.sim-slider-arrow-left:hover {
  opacity: 1.0;
}

.sim-slider-arrow-right:hover {
  opacity: 1.0;
}

.sim-slider.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
}
span.sim-dot:nth-child(1) {
	margin-left: 40%;
}
/*кнопка звонка*/

.callback-bt {
        background:#324b4e;
        border:2px solid #324b4e;
        border-radius:50%;
        box-shadow:0 8px 10px rgba(56,163,253,0.3);
        cursor:pointer;
        height:68px;
        text-align:center;
        width:68px;
        position: fixed;
        right: 3%;
        bottom: 8%;
        z-index:999;
        transition:.3s;
        -webkit-animation:hoverWave linear 1s infinite;
        animation:hoverWave linear 1s infinite;
}

.callback-bt .text-call{
        height:68px;
        width:68px;        
        border-radius:50%;
        position:relative;
        overflow:hidden;
}

.callback-bt .text-call span {
    text-align: center;
    color:#324b4e;
    opacity: 0;
    font-size: 0;
        position:absolute;
        right: 4px;
        top: 22px;
    line-height: 14px;
        font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
}

.callback-bt .text-call:hover span {
    opacity: 1;
        font-size: 11px;
}
.callback-bt:hover img {
    display:none;
}

.callback-bt:hover {
        z-index:1;
        background:#fff;
        color:transparent;
        transition:.3s;
}
.callback-bt:hover img {
        color:#324b4e;
        font-size:40px;
        transition:.3s;
}
.callback-bt img {
        color:#fff;
        font-size:34px;
        transition:.3s;
        line-height: 66px;transition: .5s ease-in-out;
}

.callback-bt img  {
    animation: 1200ms ease 0s normal none 1 running shake;
        animation-iteration-count: infinite;
        -webkit-animation: 1200ms ease 0s normal none 1 running shake;
        -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
        0% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}@keyframes hoverWave {
        0% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}

/* animations icon */

@keyframes shake {
0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
}

@-webkit-keyframes shake {
0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
}
/* конец кнопки звонка */

.price-popup-block p {
	font-size: 30px;
	color: black;
	margin-left: 40%;
}
.price-popup-block p span {
	font-size: 20px;
}