@import url(reset.css);
* {
	margin: 0;
	padding: 0;
}
body {
		font-family: 'pribambasregular', sans-serif;
	font-family: 'pribambasregular', sans-serif;
}
nav {
	max-width: 900px;
	margin: 0 auto;
	position: block;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
/*	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}



.head {
	margin: 0 auto;
	height: 100px;
}
	.header-logo {
		position: absolute;
		width: 100%;
		height: 100px;
		overflow: hidden;
	}
	.header-logo .slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.header-logo .slide.slide1{
			background: url(../img/logo2.jpg) no-repeat;
background-attachment: fixed;
background-position: top;
	}

	.header-logo .slide.slide2{
			background: url(../img/logo1.jpg) no-repeat;
	background-attachment: fixed;
	background-position:top;
			left: 50%;
	}




.menu-search {
	display: flex;	
	justify-content: space-between;
/* 	border-bottom: 2px solid grey;
border-top: 2px solid grey; */
  box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -16px 0 20px -16px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
}
#checkbox-menu,
.toggle {
	display: none;
}
.menu {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.menu li {
	padding: 31px 0 30px 0;
}
.menu-column {
	width: 25%;
	margin: 0 auto;
}
.menu-link {
	font-size: 16px;
	color: black;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}
.a-hov {
	position: relative;
	transition: 0.5s;
	align-items: center;
	padding: 7px 12px;
}
.a-hov:hover {
	color: #fff;
}
.a-hov:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: url(../img/btn-bg1.png);
	-webkit-background-size: cover;
	background-size: cover;
	transform-origin: left;
	transition: 0.5s;
}
.a-hov:hover:before{
	width: 100%;
}
.a-hov span {
	position: relative;
	z-index: 1;
}
/* search line code */
.search {background: ;}
.search:after {content:""; clear:both; display:table}
.search form {
  width: auto;
  float: right;
}
.search input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid black;
  background: #CCCCCC;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.search input:focus {
	background: #CCFFFF;
}
.search button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.search button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
form {
  position: relative;
  margin: 0 auto;
}
.search {
	padding-top:5px;
	padding-bottom:5px;
	margin-left: 0%;
	margin-top: 15px;
}

/*slider content */

.container {
			position: relative;
			padding: 0 ;
			min-height: 70vh;
			width: 1000px;
			margin: 0 auto;
		}
		.container:before {
			content: '';
			position: absolute;
			top: 10%;
			right: 5%;
			width: 250px;
			height: 90%;
			background: #333;
			z-index: -2;
		}
		.container:after {
			content: 'Go_Snus';
			position: absolute;
			bottom: 0;
			left: 0;
			font-size: 30vh;
			z-index: -2;
			font-weight: 700;
			padding-left: 10%;
			color: black;
			opacity: 0.1;
	}
		.content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: px;
		}
		.content .bannerText {
			position: relative;
			max-width: 400px;
			margin-left: 50px;
		}
		.content .bannerText div {
			display: none;
		}
		.content .bannerText div.active {
			display: initial;
		}
		.content .bannerText h2 {
			font-size: 29px;
			font-weight: 600;
		}
		.content .bannerText p{
			font-size: 17px;
			color: #333;
			line-height: 1.5em;
			margin: 20px 0;
		}
		.content .bannerText a{
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
			text-decoration: none;
			padding: 15px;
			color: black;
		}
		.content .bannerText a:before {
			content: '';
			position: absolute;
			top: 0;
			left:0;
			width: 60px;
			height: 100%;
			background: #0c8aff;
			z-index: -1;
			transition: 0.5s ease-in-out;
		}
		.content .bannerText a:hover:before {
						width: 100%;
		}
		.content .bannerImg {
			position: relative;
			width: 350px;
			height: 350px;
		}
		.content .bannerImg img {
			position: absolute;
			top:10%;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.5s;
			opacity: 0;
		}
		.content .bannerImg img.active{
			opacity: 1;
		}
		.icons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 50px 0;
		}
		.icons .sci,
		.icons .controlers{
			position: absolute;
			display: flex;
		}
		.icons .controlers {
			right: 12%;
			top: 80%;
		}
.icons .controlers li {
list-style: none;
margin-left: 20px;
cursor: pointer;
filter: invert(1);
	transition: 0.5s ease-in-out;
}
.icons .controlers li:hover {
	opacity: 0.5;
}
.tradeBlock {
	margin: 100px 50px 0 50px;
	width: 100%;
	position: relative;
	height: 250px;
	transition: all 0.5s;
}
.tradeNet {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.trade-block img {
	width: 200px;
	height: 200px;
	margin-left: 20%;
}
.hover-block {
	position: absolute;
	display: none;
	top: 0;
	left: 20%;
	background:rgba(127,127,127,0.9);
	width: 200px;
	height: 200px;
	border-radius: 100px;
	transition: all 3s;
}
.hover-block h2{
	font-size: 25px;
	color: white;
	padding: 20% 0 0 0%;
	text-align: center;
}
.trade-block:hover .hover-block{
	display: block;
	cursor: pointer;
}
.trade-ico {
	display: flex;
	margin: 10px 4px 0 0;
}
.trade-ico img {
	width: 40px;
	height: 40px;
	transition: all 0.5s;
	padding: 3px;
	border-radius: 30px;
}
.trade-ico img:hover {
	background-color: #fff;;

}

.down i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
      transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



/*.arrow-4 {
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    width: 90px;
    height: 60px;
    background: #333;
    border-radius: 70px;
}
.arrow-4-left {
    position: absolute;
    background-color: transparent;
    top: 22px;
    left: 11px;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}
.arrow-4-left:after {
    content: "";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
 
.arrow-4-right {
    position: absolute;
    background-color: transparent;
    top: 22px;
    left: 37px;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}
.arrow-4-right:after {
    content: "";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.open .arrow-4-left:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}
.open .arrow-4-right:after {
    transform-origin: center center;
    transform: rotate(70deg);
}*/


.description {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin: 20px 0 20px 0;
}
.border {
	width: 40%;
	border-bottom: 2px solid grey;
	height: 20px;
}
.border-main {
	width: 20%;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 600;
	height: 50px;
	padding-top: 10px;
}
.media-block {
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.media-img-block img {
	transition: 1s all;
}
.media-img-block img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.faith-block {
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: space-between;
}
.faith-block-one {
	width: 23%;
	margin: 0 auto;
	position: relative;
}
.faith-block-des {
	text-align: center;
	padding: 20px;
}
.faith-block-des h1{
	margin: 10px 0 10px 0;
	font-weight: 600;
}
.faith-block-des p{
	font-size: 14px;
	color: grey;
	line-height: 1.4;
}
.faith-block-one:before {
	content: '';
	position: absolute;
	top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	border-top: 3px solid grey; 
	border-bottom: 3px solid grey; 
	transition: 0.4s;
	transform: scaleX(0);
	border-radius: 10px;
}
.faith-block-one:hover:before,
.faith-block-one:hover:after {
	transform: scale(1);
}
.faith-block-one:after {
	content: '';
	position: absolute;
	top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	transition: 0.4s;
	transform: scaleY(0);
	border-left: 3px solid grey; 
	border-right: 3px solid grey; 
	border-radius: 10px;
}
.figure:hover h2,
.figure:hover p {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
footer {
	height: 300px;
	background: #333;
	border-radius: 10px;
}
.top-part-foot{
	margin: 0 auto;
	text-align: center;
	width: 50%;
	padding-top: 40px; 
}
.menu-footer {

}
.menu-footer ul {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.menu-footer ul li a{
	color: white;
	font-size: 18px;

}
.icon-footer {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: 30px auto;
}
.bottom-part-foot {
	height: 80px;
	text-align: center;
	border: 1px solid white;
	margin-top: 30px;
}
.bottom-part-foot p {
	margin-top: 30px;
}
@media screen and (max-width:760px) {
	body {
		width: auto; 
	}
	.toggle{
		clear: both;
		display: block;
		text-align: center;
		font-size: 18px;
		line-height: 40px;
		width: auto;
		color: black;
		background: #324b4e;
		transition: all .1s linear;
	}
	#checkbox-menu:checked + label .touch li{
		opacity: 1;
		visibility: visible;
	}
	#checkbox-menu:checked + label .touch {
		height: 170px;
	}
	.menu{
		display: flex;
		flex-direction: column;
		justify-content: ;
		align-items: center;
		height: 0;
		transition: height .3s linear;
		max-width: 400px;
	}
	.menu li{
		display: flex;
		align-self: center;
		width: 95%;
		transition: all 1s;
		opacity: 0;
		visibility: hidden;
	}
	.menu li a{
		width: 95%;
		text-align: center;
		align-self: center;
		align-content: center;
	}
	.menu li a.logo{
		font-size: 21px;
		margin-right: 0px;
	}
	.menu li a.contacts{
		margin-right: 0px;
	}
	.head {
		display: flex;
		flex-direction: column;
	}
	.search {
		display: none;
	}
	.head {
		width: max;
	}
	nav {
		margin-left: 0;
	}
	.container {
		max-width: 400px;
		width: 100%;
	}
	.container:before {
			content: '';
			position: absolute;
			top: 80%;
			right: 10%;
			width: 130px;
			height: 8%;
			background: #CCCCCC;
			z-index: -2;
	}
	.icons .controls li{
		filter: invert(0);
	}
	.content .bannerText h2{
		font-size: 30px;
	}
	.content {
		margin: 0;
		flex-direction: column-reverse;

	}
	.content .bannerImg {
		margin: 20px 0;
		width: 250px;
		height: 250px;
	}
	.content .bannerText {
		max-width: 100%;
		padding-right: 0;
	}
	.container:after {
			bottom: 5%;
			left: 10%;
			font-size: 10vh;
	}
	.description {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin: 20px 0 20px 0;
}
.border {
	width: 40%;
	border-bottom: 2px solid grey;
	height: 20px;
}
.border-main {
	width: 80%;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 600;
	height: 50px;
	padding-top: 10px;
}
.wrapper {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
/*	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}
.tradeBlock {
	width: 100%;
}
.tradeNet {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.trade-block {
	position: relative;
	height: 170px;
}
.trade-block img {
	width: 130px;
	height: 130px;
	margin-left: 20%;
}
.hover-block {
	top: 0;
	left: 20%;
	width: 130px;
	height: 130px;
	border-radius: 100px;
}
.hover-block h2{
	font-size: 18px;
}
.trade-ico img {
	width: 23px;
	height: 23px;
	padding: 3px;
}
}