@media screen and (max-width:760px) {
	body {
		width: auto; 
		background: url(../img/);
	}
	.container {
		max-width: 400px;
		width: 100%;
/*background: url(../img/Twrap2.jpg);*/
	}
	.head_logo_sec {
	display: none;
}
	.container:before {
			content: '';
			position: absolute;
			top: 12%;
			left: 1%;
			width: 98%;
			height: 23%;
			background: #CCCCCC;
			z-index: -2;
			border-radius: 30px;
	}
	.container:after {

	}
	.icons .controls li{
		filter: invert(0.4);
	}
	.content .bannerText h2{
		font-size: 30px;
	}
		.content .bannerText a{
		position: absolute;
		left: 27%;
		bottom: 112%;
	}
			.icons .controlers {
			left: -10%;
			top: 15.2%;
		}
	.content {
		margin: 0;
		flex-direction: column-reverse;

	}
	.content .bannerImg {
		margin: 20px 0;
		width: 210px;
		height: 210px;
	}
	.content .bannerText {
		max-width: 100%;
		padding-right: 0;
		margin-top: 100px;
	}
	.container:after {
			bottom: 0%;
			left: 10%;
			font-size: 8vh;
	}
	.icons .controlers li:nth-child(1){
		margin-left: 13%;
	}
	.icons .controlers li:nth-child(2){
		margin-left: 58%;
	}
		.icons {
			padding: 20px 0;
		}
	.description {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin: 20px 0 20px 0;
}
.border {
	width: 40%;
	border-bottom: 2px solid grey;
	height: 20px;
}
.border-main {
	width: 80%;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 600;
	height: 50px;
	padding-top: 10px;
}
.wrapper {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
/*	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
background: url(../img/Twrap2.jpg);
background-repeat: repeat-y;
}
.tradeBlock {
	width: 100%;
}
.tradeNet {
	grid-template-columns: 1fr 1fr;
}
.trade-block {
	position: relative;
	height: 170px;
}
.trade-block img {
	width: 130px;
	height: 130px;
	margin-left: 20%;
}
.hover-block {
	top: 0;
	left: 20%;
	width: 130px;
	height: 130px;
}
.hover-block h2{
	font-size: 14px;
}
.trade-ico img {
	width: 25px;
	height: 25px;
	padding: 3px;
}
.trade-ico a:nth-child(1){
	padding-left: 30px;
}
.media-block {
	height: 40px;
}
.media-img-block img {
	width: 40px;
	height: 40px;
}
footer {
	height: 400px;
}
.menu-footer ul {
	flex-direction: column;
	}
.menu-footer ul li {
	padding-top: 10px;
}
#popup {
	width: 300px;
	height: auto;
	padding: 10px;
}
.wrapper-info {
	height: auto;
	display: flex;
	flex-direction: column;
}
.img-info{
	width: 100%;
	height: 60%;
	margin-top: 50px;
}
.img-slider {
	margin-left: 21%;
}
.img-slider img{
	width: 150px;
	height: 150px;
}
.right-info{
	width: 100%;
}
.incon-info {
	margin: 150px 0 0 30%;
}
.right-info h1{
	margin-top: 0px;
}
.des-info {
	width: 90%;
	margin: 10px 0 0 10px;
}
.button-info {
	margin: 15px 0 0 30%;
}
.button-info button {
	font-size: 16px;
	width: 100px;
	height: 35px;
}




.sim-slider img {
  width: 200px; !important;
  height: 200px; !important;
}

.sim-slider {
  width: 200px;
}
span.sim-dot:nth-child(1) {
	margin-left: 35%;
}



.faith-block {
	width: 100%;
	height: auto;
	flex-direction: column;
}
.faith-block-one {
	width: 90%;
}
.faith-block-p {
	display: none;
}


.callback-bt {
	bottom: 0%;
}


/*.shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .image img{
  	width: 140px;
  	height: 140px;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
*/
}
@media (min-width: 361px) {
/*	.content .bannerText a {
 	   bottom: 102%;
 	   left: 21%;
	}
	.icons .controlers li:nth-child(2){
		margin-left: 53%;
	}*/
	.icons .controlers li:nth-child(1){
		margin-left: 15%;
	}
}